a {
  font-family: 'Didact Gothic', sans-serif;
  color: aliceblue;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.address {
  text-align: center;
  margin-top: 7.5em;
  background-color: rgb(46, 45, 45);
  color: aliceblue;

  font-size: 1.5em;
  font-weight: bold;
  opacity: 0%;
}
.appointment {
  text-decoration: underline;
  font-family: serif;
  font-size: 1.5rem;
}

#aftercare {
  display: none;
  color: aliceblue;
  text-align: center;
}
.aftercare-pic {
  background-image: url('images/aftercare\ edit.png');
}
.background-pic {
  height: 475px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  max-width: 100%;
}
@media (min-width: 576px) {
  .background-pic {
    background-size: 110%;
  }
}
@media (min-width: 768px) {
  .background-pic {
    min-height: 650px;
    background-size: 100%;
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media (min-width: 990.98px) {
  .background-pic {
    min-height: 800px;
    background-size: 90%;
  }
}
@media (min-width: 1200px) {
  .background-pic {
    min-height: 825px;
    background-size: 85%;
  }
}
body {
  background-color: black;
  max-width: auto;
  font-family: 'Noto Serif Display', serif;
  background-repeat: no-repeat;
}
.bold {
  font-weight: bold;
}
#book-now-btn {
  display: inline-block;
  text-align: right;
  width: 100%;
  font-size: 130%;
}
.bookingbtn {
  margin-top: 1em;
}
#bookbtn {
  border-radius: 40px;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 1.2em;
  margin-top: 1.5em;
}

.bottom-space {
  margin-bottom: 2em;
}
.caption {
  margin-top: 1.3em;
  margin-bottom: 0.8em;
  font-family: 'Didact Gothic', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin: 0;
}
.contacts {
  text-align: center;
  text-decoration: underline;
  font-family: serif;
  font-weight: 300;
}
.esignup {
  align-content: center;
  margin-top: 0.75em;
}
.emphasized {
  font-family: 'Didact Gothic', sans-serif;
  font-style: italic;
}
footer {
  padding-top: 7em;
  font-family: 'Noto Serif Display', serif;
  display: block;
  color: aliceblue;
  margin-bottom: 3em;
  text-align: center;
}
@media (min-width: 768px) {
  footer {
    font-size: 120%;
  }
}
@media (min-width: 990.98px) {
  footer {
    font-size: 150%;
  }
}
footer p {
  font-family: 'Didact Gothic', sans-serif;
  color: aliceblue;
}
.foot-extra-space {
  margin-bottom: 2em;
}
#gallery {
  display: none;
}
.gallery-gif {
  background-image: url('images/gallery.gif');
}
#head {
  max-width: 100%;
}
.hide-btn {
  border: transparent;
  background-color: transparent;
}
.head-pic {
  background-image: url('images/finishedlogo.png');
  min-height: 650px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 165%;
  max-width: 100%;
}
@media (max-width: 576px) {
  .head-pic {
    background-attachment: scroll;
  }
}
@media (orientation: landscape) {
  .head-pic {
    background-attachment: scroll;
  }
}

@media (min-width: 576px) {
  .head-pic {
    background-size: 110%;
  }
}
@media (min-width: 768px) {
  .head-pic {
    min-height: 750px;
    background-size: 100%;
  }
}
@media (min-width: 990.98px) {
  .head-pic {
    min-height: 800px;
    background-size: 80%;
  }
}
.headers {
  margin-top: 0em;
  margin-bottom: 0.8em;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
  color: aliceblue;
}
@media (min-width: 768px) {
  .headers {
    margin-top: 0.5em;
  }
}
.header {
  font-family: 'Noto Serif Display', serif;
  font-weight: 900;
}
img {
  border-radius: 2%;
  width: 90%;
}
.instruction {
  margin-top: 1em;
}
label {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.lash-title {
  font-size: 2em;
}
.left {
  float: left;
}
li {
  font-size: 115%;
}
@media (min-width: 990.98px) {
  li {
    font-size: 110%;
  }
}
#main {
}
#menu-bar {
  margin-left: 1em;
  margin-right: 1em;
}
@media (min-width: 992px) {
  #menu-bar {
    margin-left: 2em;
    margin-right: 2em;
  }
}
.menu-list {
  float: right;
  margin-right: 2em;
}

.menu-btn {
  font-size: 1.2em;
}

.right {
  float: right;
}

.smedia-icon {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  height: auto;
  float: left;
}

#service {
  display: block;
  color: aliceblue;
  margin-top: 0em;
  text-align: center;
  width: 100%;
}
@media (min-width: 768px) {
  #service {
    font-size: 110%;
  }
}
@media (min-width: 990.98px) {
  #service {
    font-size: 125%;
  }
}
#service p {
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
}
@media (min-width: 768px) {
  #service p {
    margin-bottom: 2em;
    margin-left: 7em;
    margin-right: 7em;
  }
}
@media (min-width: 990.98px) {
  #service p {
    margin-left: 12em;
    margin-right: 12em;
  }
}
.service {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  max-width: 100%;
  margin-left: 1em;
  margin-right: 1em;
}
@media (max-width: 576px) {
  .service {
    background-attachment: scroll;
  }
}
@media (orientation: landscape) {
  .service {
    background-attachment: scroll;
  }
}
@media (min-width: 768px) {
  .service {
    height: 550px;
  }
}
@media (min-width: 991.98px) {
  .service {
    height: 650px;
    background-size: 50%;
  }
}
.servicepic-classic {
  background-image: url('images/gallery7.jpg');
}
.servicepic-volume {
  background-image: url('images/volume.jpg');
}
.servicepic-wispyhybrid {
  background-image: url('images/wispyhybrid.jpg');
}
#shop {
  display: none;
  float: none;
}
.shop {
  margin-bottom: 3em;
}
.shop-pic {
  background-image: url('images/shop.png');
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  max-width: 100%;
  margin: auto;
  border-radius: 1em;
}
@media (min-width: 485px) {
  .shop-pic {
    max-width: 80%;
  }
}
@media (min-width: 576px) {
  .shop-pic {
    background-size: 100%;
  }
}
@media (min-width: 991.98px) {
  .shop-pic {
    height: 650px;
    background-size: 80%;
  }
}
@media (min-width: 1200px) {
  .shop-pic {
    height: 650px;
    background-size: 70%;
  }
}
#shop a {
  display: inline-block;
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  color: #ffffff;
  min-width: 212px;
  background-color: #a67c53;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0px;
}
#shop p {
  font-size: 18px;
  line-height: 20px;
}
.shop-buy-btn {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 259px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;
  height: 275px;
  margin: auto;
}
@media (min-width: 576px) {
  .shop-buy-btn {
    margin: auto;
  }
}
@media (min-width: 991.98px) {
  .shop-buy-btn {
    margin-top: 6em;
  }
}
.section-top {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.title-menu {
  padding-top: 1.5em;
  font-size: 1.7em;
  float: left;
  font-weight: bold;
}

/* shop */

#shop a {
  display: inline-block;
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  color: #ffffff;
  min-width: 212px;
  background-color: #a67c53;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0px;
}
#shop p {
  font-size: 18px;
  line-height: 20px;
}
